{% extends getPartial('page-design') %}

{% block PageBody %}

<div class="container">

<div class="row features">
<div class="col-12">
<span><i class="fas fa-check"></i> schnelle Lieferzeiten</span>     
<span><i class="fas fa-check"></i> Käuferschutz</span>
<span><i class="fas fa-check"></i> 14 Tage Rückgaberecht</span>
<span><i class="fas fa-check"></i> sichere Zahlung durch SSL-Verschlüsselung</span>
</div>
</div>

<div class="row">
<div class="col-12">
<img src="https://cdn02.plentymarkets.com/zj90a4jbte75/frontend/slide_01_redtech.jpg" alt="Red Tech">
</div>
</div>


</div>

{% endblock %}
