{% extends getPartial('page-design') %}

{% block PageBody %}

<section class="benefits container">
   <span><i class="fas fa-check"></i> schnelle Lieferzeiten</span>     
   <span><i class="fas fa-check"></i> Käuferschutz</span>
   <span><i class="fas fa-check"></i> 14 Tage Rückgaberecht</span>
   <span><i class="fas fa-check"></i> sichere Zahlung durch SSL-Verschlüsselung</span>
</section>

<section class="slideshow container">
   <img src="https://cdn02.plentymarkets.com/zj90a4jbte75/frontend/slide_01_redtech.jpg" alt="Red Tech">
</section>

<section class="container">
   <div class="feature-box"><img src="https://cdn02.plentymarkets.com/zj90a4jbte75/frontend/category_smartphone.jpg" alt="Smartphones">Smartphones</div>
   <div class="feature-box"><img src="https://cdn02.plentymarkets.com/zj90a4jbte75/frontend/category_smartwatch.jpg" alt="Smartwatches">Smartwatches</div>
   <div class="feature-box"><img src="https://cdn02.plentymarkets.com/zj90a4jbte75/frontend/category_tablet.jpg" alt="Tablets">Tablets</div>
   <div class="feature-box"><img src="https://cdn02.plentymarkets.com/zj90a4jbte75/frontend/category_computer.jpg" alt="Desktop-PCs">Desktop-PCs</div>
   <div class="feature-box"><img src="https://cdn02.plentymarkets.com/zj90a4jbte75/frontend/category_konsole.jpg" alt="Spielkonsolen">Spielkonsolen</div>
   <div class="feature-box"><img src="https://cdn02.plentymarkets.com/zj90a4jbte75/frontend/category_tv.jpg" alt="LED-/LCD-TV">LED-/LCD-TV</div>
</section>

<div class="clear"></div>

<section class="productlisting container">
   {{ LayoutContainer.show("Ceres::Homepage.Container1") }}
</section>

<section class="productlisting container">
   {{ LayoutContainer.show("Ceres::Homepage.Container2") }}
</section>

<section class="cooperations container">
   <div class="coop-box"><img src="" alt=""></div>
   <div class="coop-box"><img src="" alt=""></div>
   <div class="coop-box"><img src="" alt=""></div>
   <div class="coop-box"><img src="" alt=""></div>
   <div class="coop-box"><img src="" alt=""></div>
</section>

<div class="clear"></div>

{% endblock %}
