{% extends getPartial('page-design') %}

{% block PageBody %}

<section class="features container">
   <span><i class="fas fa-check"></i> schnelle Lieferzeiten</span>     
   <span><i class="fas fa-check"></i> Käuferschutz</span>
   <span><i class="fas fa-check"></i> 14 Tage Rückgaberecht</span>
   <span><i class="fas fa-check"></i> sichere Zahlung durch SSL-Verschlüsselung</span>
</section>

<section class="slideshow container">
   <img src="https://cdn02.plentymarkets.com/zj90a4jbte75/frontend/slide_01_redtech.jpg" alt="Red Tech">
</section>

<section class="features container">
   <div class="feature-box"><img src="" alt="">Smartphones</div>
   <div class="feature-box"><img src="" alt="">Smartwatches</div>
   <div class="feature-box"><img src="" alt="">Tablets</div>
   <div class="feature-box"><img src="" alt="">Desktop-PCs</div>
   <div class="feature-box"><img src="" alt="">Spielkonsolen</div>
   <div class="feature-box"><img src="" alt="">LED-/LCD-TV</div>
</section>

<div class="clear"></div>

<section class="productlisting container">
   {{ LayoutContainer.show("Ceres::Homepage.Container1") }}
</section>

<section class="productlisting container">
   {{ LayoutContainer.show("Ceres::Homepage.Container2") }}
</section>

<section class="cooperations container">
   <div class="coop-box"><img src="" alt=""></div>
   <div class="coop-box"><img src="" alt=""></div>
   <div class="coop-box"><img src="" alt=""></div>
   <div class="coop-box"><img src="" alt=""></div>
   <div class="coop-box"><img src="" alt=""></div>
</section>

<div class="clear"></div>

{% endblock %}
